nav {
    border: 1px black solid;
    margin: 0px;
    
}

.main-nav ul {
    margin: 10px;
    padding-left: 0px;
}

.main-nav li {
    height: 50px;
    display: inline;
    margin: 10px;
    background-color: red;
    box-sizing: border-box;
}


main {
    border: 1px blue solid;
}